.side-bar {
    background-color: rgb(249, 249, 249);
    margin-left: 100px;
    height: 100vh;
    padding-top: 50px;
    min-width: 200px;
    max-width: 300px;


}

.side-bar-items .item {
    background-color: transparent;
    color: black;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

.item * {
    margin: 5px;

}


.side-bar-items:hover .item:hover {
    background-color: gray;
    color: white;
    box-shadow: 1px 1px 12px black;


}