.filter-product-side {
    height: 100%;
}

.filter-product-side ul li ul {
    display: block;
    padding: 2px;
    margin: 2px;
}

.filter-product-side ul li {
    display: block;
    padding: 2px;
    margin: 2px;
}

.filter-product-side ul li label {
    padding: 2px;
    margin: 2px;
}

.price {
    width: 50px;
}