.categorise-type ul {
    display: flex;
    padding: 5px;
    box-shadow: 0px 2px 10px gray;

}

.categorise-type ul li {
    display: flex;
    margin: 10px;
    padding: 5px 7px 5px 7px;
    border: 1px solid gray;
    min-width: 140px;
    border-radius: 20px;
    justify-content: center;
    font-weight: 500;
    font-size: large;
    background-color: white;


}

.categorise-type ul :hover {
    background-color: gray;
    color: white;


}