.Categorise-image {
    width: 120px;
    padding: 8px;
    margin: 5px;
    border-radius: 50%;
    background-color: bisque;
}

.title {
    font-size: 2rem;
    margin: 2px;
    padding: 12px;
    text-align: start;
}

.all-categorise {
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}