.best-seller-container {
    display: flex;
    justify-content: center;
}

.best-seller-card {
    width: 300px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 2px 5px black;
}

.best-seller-card div {
    font-weight: bold;
}

.rate-price {
    display: flex;
    justify-content: space-between;
}