.reset-password {
    padding-top: 50px;
    width: 60%;
    position: relative;

}

.reset-password * {
    margin-top: 10px;
}

.reset-password input {
    display: block;
}

.reset-password button {
    position: absolute;
    min-width: 50%;
    padding: 10px;
    right: 0;
}

/* 
.info div {
    padding-top: 5px;


} */